<turbo-frame id="<%= dom_id @questionnaire %>">
  <p style="color: green"><%= notice %></p>

  <%= render @questionnaire %>

</turbo-frame>
  <div>
    <%= link_to "Back to questionnaires", questionnaires_path %>

  </div>
